<h1> Profile </h1>

<%= form_for @user do |f| %>
  <%= f.label :first_name %>
  <%= f.text_field :first_name, required: true, class: 'form-control' %>
  <%= f.label :last_name %>
  <%= f.text_field :last_name, required: true, class: 'form-control' %>
  <%= f.label :email %>
  <%= f.email_field :email, required: true, class: 'form-control' %>
  <%= f.submit "Update", class: "btn btn-primary" %>
<% end %>
