<!DOCTYPE html>
<html>
  <head>
    <title>Onboarding</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>
 <%= render 'layouts/nav' %>
</header>


  <body>
    <% flash.each do |key, value| %>
          <div class="alert alert-<%= key %> fade in">
                <%= value %>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
           <span aria-hidden="true">&times;</span>
         </button>
          </div>
    <% end %>
    <%= yield %>
  </body>
</html>
